<%
# Copyright (C) 2012 Bit4Bit <bit4bit@riseup.net>
#
#
# This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<%= link_to I18n.t('tools.new_archive.title'), new_archive_tools_path, :class => "button"%>
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice]%></p>
<% end %>
<% if flash[:error] %>
<p class="error"><%= flash[:error]%></p>
<% end %>
<br />

<table>
  <tr>
    <th>Creada</th>
    <th><%= I18n.t('defaults.campaign')%></th>
    <th></th>
  </tr>

  <% @archives.each do |archive| %>
  <tr>
    <td><%= archive.created_at%></td>
    <td><%= archive.campaign.name%></td>
    <td><%= link_to I18n.t('destroy'), tool_destroy_archive_path(archive.id), :method => :delete, :confirm => "Esta seguro(a), no podra volver a recuperar la informacion?"%>
      <%= link_to I18n.t('tools.l.restore_archive'), tool_restore_archive_path(archive.id), :confirm => "Esta seguro(a), no podra detenerlo despues de que inicie?"%>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @archives %>
