<div id="resources" style="display:none">
  <% @resources.each do |r| %>
  <div><%= r.name%></div>
  <% end %>
</div>

<div id="resource_upload">
  <%= render "resources/form" %>
</div>

<%= simple_form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="messages_help">
    <%= render "messages/ayuda" %>
  </div>
  <div class="field">
    <b>Grupo</b><br />
    <%= @message.group.name %>
  </div>
  <div class="field">
    <%= f.input :name %>
  </div>    


  <div>
    <div id="ivr">
    </div>
    <div class="field description-ivr">
      <%= f.label :description %><br />
      <%= f.text_area :description %><br />
    </div>
    
  </div>

  <div class="field">
    <%= f.label :call%><br />
    <%= f.datetime_select :call %>
  </div>
  <div class="field">
    <%= f.label :call_end%><br />
    <%= f.datetime_select :call_end%>
  </div>

  <div class="field">
    <%= f.input :retries, :input_html => {:maxlength => 2, :size => 2}%>
  </div>
  <div class="field">
    <%= f.input :hangup_on_ring, :input_html => {:maxlength => 2, :size => 2}%>
  </div>
  <div class="field">
    <%= f.input :time_limit, :input_html => {:maxlength => 3, :size => 3}%>
  </div>
  <div class="field">
    <%= f.input :priority, :input_html => {:maxlength =>3, :size => 3}%>
  </div>
  <div class="field">
    <%= f.input :max_clients, :input_html => {:max_length => 6, :size => 4}%>
  </div>
  <div class="field">
    <%= f.input :prefix, :input_html => {:size => 2, :title => 'Prefijo adicional al numero para llamar'}%>
  </div>
  <div class="field">
    <%= f.input :notes%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
