<%= link_to I18n.t('back'), campaigns_path, :class => "button negative" %>
<%= link_to I18n.t('message.new.title'), new_message_path, :class => "button" %>
<h1><%= I18n.t('message.index.title')%> <%= I18n.t('defaults.group')%> <%= @group.name %></h1>

<table>
  <tr>
    <th><%= I18n.t('message.l.name')%></th>
    <th><%= I18n.t('message.l.call')%></th>
    <th><%= I18n.t('message.l.call_end')%></th>
    <th><%= I18n.t('message.l.retries')%></th>
    <th><%= I18n.t('message.l.max_clients')%></th>
    <th><%= I18n.t('message.l.prefix')%></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.name %></td>
    <td><%= message.call %></td>
    <td><%= message.call_end %></td>
    <td><%= message.retries %></td>
    <td><%= message.max_clients %></td>
    <td><%= message.prefix %></td>
    <td><%= link_to I18n.t('defaults.message_calendar'), message_calendars_path(:message_id => message) %></td>
    <td><%= link_to I18n.t('show'), message %><br />
    <%= link_to I18n.t('edit'), edit_message_path(message) %><br />
    <%= link_to I18n.t('destroy'), message, :confirm => I18n.t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @messages %>


