<%= stylesheet_link_tag params[:controller]%>
<%= link_to I18n.t('back'), messages_path, :class => "button negative" %>
<%= link_to I18n.t('edit'), edit_message_path(@message), :class => "button" %> 


<h1><%= I18n.t('message.show.title')%></h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('message.l.name')%>:</b>
  <%= @message.name %>
</p>


<p>
  <hr />
  <b><%= I18n.t('message.l.description')%>:</b>

    <%= simple_format(@message.description) %>
    <hr />
</p>


<p>
  <b><%= I18n.t('message.l.call')%>:</b>
  <%= @message.call%>
</p>

<p>
  <b><%= I18n.t('message.l.call_end')%>:</b>
  <%= @message.call_end%>
</p>

<p>
  <b><%= I18n.t('message.l.retries')%>:</b>
  <%= @message.retries%>
</p>


<p>
  <b><%= I18n.t('message.l.priority')%>:</b>
  <%= @message.priority%>
</p>

<p>
  <b><%= I18n.t('message.l.max_clients')%>:</b>
  <%= @message.priority%>
</p>

<p>
  <b><%= I18n.t('defaults.group')%>:</b>
  <%= @message.group.name %>
</p>


