<%= simple_form_for(@distributor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :plivo_id, options_from_collection_for_select(@plivos, 'id', 'caller_name', @distributor.campaign_id) %>
    <%= f.input :filter %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
