<%= simple_form_for(@entity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :slogan %><br />
    <%= f.text_area :slogan %>
    </div>
    
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
    
    <div class="field">
      <%= f.label :direction %><br />
      <%= f.text_field :direction %>
    </div>

    <div class="field">
      <%= f.label :leader %><br />
      <%= f.text_field :leader %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
