<%= link_to I18n.t('back'), entities_path, :class => "button negative" %>
<%= link_to I18n.t('edit'), edit_entity_path(@entity), :class => "button" %>


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entity.name %>
</p>

<p>
  <b>Slogan:</b>
  <%= @entity.slogan %>
</p>

<p>
  <b>Phone:</b>
  <%= @entity.phone %>
</p>

<p>
  <b>Direction:</b>
  <%= @entity.direction %>
</p>

<p>
  <b>Leader:</b>
  <%= @entity.leader %>
</p>

<p>
  <b>Description:</b>
  <%= @entity.description %>
</p>


