<h1><%= @group.campaign.name %>  </h1>
<%= simple_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.input :enable %>
  </div>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :messages_share_clients%><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
