<%= link_to I18n.t('back'), campaigns_path, :class => "button negative" %>
<%= link_to I18n.t('group.new.title'), new_group_path, :class => "button" %>
<h1><%= I18n.t('group.index.title')%> <%= @campaign.name %> </h1>

<table>
  <tr>
    <th><%= I18n.t('group.l.name')%></th>
    <th><%= I18n.t('defaults.clients')%></th>
    <th><%= I18n.t('defaults.clients_answer')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.client.count %></td>
    <td><%= group.total_calls %></td>
    <td>
      <%= link_to I18n.t('defaults.messages'), messages_path(:group_id => group)%>
    </td>
    <td><%= link_to I18n.t('show'), group %></td>
    <td><%= link_to I18n.t('edit'), edit_group_path(group) %><br />
<%= link_to I18n.t('destroy'), group, :confirm => I18n.t('are_you_sure'), :method => :delete %></td>
   
    
  </tr>
<% end %>
</table>

<br />



