<%= link_to I18n.t('back'), operators_resources_path, :class => "button negative" %>
<%= link_to I18n.t('edit'), edit_operators_resource_path(@resource), :class => "button" %> 
<h1><%= I18n.t('resource.show.title')%> </h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('resource.l.name')%>:</b>
  <%= @resource.name %>
</p>

<p>
  <b><%= I18n.t('resource.l.type')%>:</b>
  <%= @resource.type_file %>
</p>

<p>
  <b><%= I18n.t('resource.l.file')%>:</b>
  <a href="<%= @resource.file[6..-1]%>"><%= @resource.name_file %> </a>
</p>

<p>
  <b><%= I18n.t('defaults.campaign')%>:</b>
  <%= @resource.campaign.name %>
</p>




