<% content_for :sub_menu do %>

<% end %>
<%= link_to I18n.t('campaign.new.title'), new_campaign_path(), :class => "button" %>


<h1><%= I18n.t('campaign.index.title')%></h1>

<table>
  <tr>
    <th><%= I18n.t('defaults.id')%></th>
    <th><%= I18n.t('campaign.l.entity')%></th>
    <th><%= I18n.t('campaign.l.name')%></th>
    <th><%= I18n.t('campaign.l.status')%></th>
    <th><%= I18n.t('defaults.clients')%></th>
    <th><%= I18n.t('defaults.clients_rest')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.id%></td>
    <td><%= campaign.entity.name%></td>
    <td><%= campaign.name %></td>
    <td><%= I18n.t('campaign.l.'+Campaign::STATUS.invert[campaign.status].to_s) %><br />
      <%= link_to(I18n.t('campaign.l.PAUSE'), campaign_status_pause_path(campaign), :method => :put, :class => 'campaign-status campaign-status-pause')%>
      <%= link_to(I18n.t('campaign.l.END'), campaign_status_end_path(campaign), :method  => :put, :class => 'campaign-status campaign-status-end')%>
      <%= link_to(I18n.t('campaign.l.START'), campaign_status_start_path(campaign), :method => :put, :class => 'campaign-status campaign-status-start')%>
    </td>
    <td><%= campaign.client.count %></td>
    <td><%= campaign.client_rest.count%></td>
    <td style="padding: 0; margin: 0;"><%= link_to I18n.t('show'), campaign %><br />      
    <%= link_to I18n.t('edit'), edit_campaign_path(campaign) %><br />
    <%= link_to I18n.t('destroy'), campaign, :confirm => I18n.t('are_you_sure'), :method => :delete %><br />
    </td>
    <td style="padding: 0; margin: 0;">
    <%= link_to I18n.t('defaults.resources'), resources_path(:campaign_id => campaign )%><br />
    <%= link_to I18n.t('defaults.groups'), groups_path(:campaign_id => campaign )%><br />
    <%= link_to I18n.t('defaults.clients'), clients_path(:campaign_id => campaign )%><br />
    </td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @campaigns %>

