<%
# Copyright (C) 2012 Bit4Bit <bit4bit@riseup.net>
#
#
# This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<table>
  <tr>
    <th><%= I18n.t('defaults.entity')%></th>
    <th><%= I18n.t('campaign.l.name')%></th>
    <th><%= I18n.t('campaign.l.status')%></th>
    <th><%= I18n.t('defaults.clients')%></th>
    <th><%= I18n.t('defaults.clients_rest')%></th>
    <th><%= I18n.t('defaults.channels')%></th>
    <th><%= I18n.t('defaults.using_channels')%></th>
    <th><%= I18n.t('defaults.calls_today')%></th>
    <th><%= I18n.t('defaults.calls_answer_today')%></th>
    <th><%= I18n.t('defaults.calls_not_answer_today')%></th>
  </tr>
  <% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.entity.name%></td>
    <td><%= campaign.name%></td>
    <td><%= I18n.t('campaign.l.'+Campaign::STATUS.invert[campaign.status].to_s) %></td>
    <td><%= campaign.client.count%></td>
    <td><%= campaign.client_rest.count%></td>
    <td><%= campaign.active_channels%></td>
    <td><%= campaign.using_channels%></td>
    <td><%= campaign.total_calls_today%></td>
    <td><%= campaign.total_calls_answer_today%></td>
    <td><%= campaign.total_calls_not_answer_today%></td>
  </tr>
  <% end %>
</table>


