<%
# Copyright (C) 2012 Bit4Bit <bit4bit@riseup.net>
#
#
# This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<table>
  <tr>
    <th><%= I18n.t('defaults.campaign')%></th>
    <th><%= I18n.t('defaults.message')%></th>
    <th><%= I18n.t('defaults.client')%></th>
    <th><%= I18n.t('report.l.status')%></th>
  </tr>
  <% @calls.each do |call| %>
  <tr>
    <td><%= call.client.campaign.name%></td>
    <td><%= call.message.name%></td>
    <td><%= call.client.phonenumber%></td>
    <td><%= !call.hangup_enumeration.nil? ? call.hangup_status : call.status%></td>
  </tr>
  <% end %>
</table>
