<h3>Para: <%= @message_calendar.message.name %></h3>
<%= simple_form_for(@message_calendar) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :message_id%>
  <div class="form-inputs">
    <%= f.input :start %>
    <%= f.input :stop %>
  </div>
  <div class="field">
    <%= f.input :max_clients, :input_html => {:maxlength => 6, :size => 5}%>
  </div>
  <div class="field">
    <%= f.input :channels, :input_html => {:maxlength => 2, :size => 2}%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
