<%= link_to I18n.t('back'), messages_path(:group_id => @message.group.id), :class => 'button negative' %>
<%= link_to I18n.t('message_calendar.new.title'), new_message_calendar_path(:message_id => @message), :class => 'button' %>
<h1><%= I18n.t('message_calendar.index.title')%></h1>
<h3>Para: <%= @message.name%></h3>
<table>
  <tr>
    <th><%= I18n.t('message_calendar.l.start')%></th>
    <th><%= I18n.t('message_calendar.l.stop')%></th>
    <th><%= I18n.t('message_calendar.l.max_clients')%></th>
    <th><%= I18n.t('message_calendar.l.channels')%></th>
    <th><%= I18n.t('message_calendar.l.use_available_channels')%></th>
    <th><%= I18n.t('message_calendar.l.time_expected_for_call')%></th>
    <th><%= I18n.t('message_calendar.l.calls_completed')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_calendars.each do |message_calendar| %>
  <tr>
    <td><%= message_calendar.start %></td>
    <td><%= message_calendar.stop %></td>
    <td><%= message_calendar.max_clients%></td>
    <td><%= message_calendar.channels%></td>
    <th><%= message_calendar.use_available_channels%></td>
    <td><%= message_calendar.time_expected_for_call%></td>
    <td><%= Call.answered_for_message_calendar(message_calendar).count%></td>
    <td><%= link_to I18n.t('show'), message_calendar %><br />
      <%= link_to I18n.t('edit'), edit_message_calendar_path(message_calendar) %><br />
      <%= link_to I18n.t('destroy'), message_calendar, :confirm => I18n.t('are_you_sure'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />


