<%= link_to I18n.t('back'), message_calendars_path(:message_id => @message_calendar.message), :class => 'button negative' %>
<%= link_to I18n.t('edit'), edit_message_calendar_path(@message_calendar), :class => 'button' %> 

<h1><%= I18n.t('message_calendar.show.title')%></h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('message_calendar.l.start')%>:</b>
  <%= @message_calendar.start %>
</p>

<p>
  <b><%= I18n.t('message_calendar.l.stop')%>:</b>
  <%= @message_calendar.stop %>
</p>

<p>
  <b><%= I18n.t('message_calendar.l.max_clients')%>:</b>
  <%= @message_calendar.max_clients %>
</p>

<p>
  <b><%= I18n.t('message_calendar.l.channels')%>:</b>
  <%= @message_calendar.channels %>
</p>

<p>
  <b><%= I18n.t('message_calendar.l.use_available_channels')%>:</b>
  <%= @message_calendar.use_available_channels%>
</p>

<p>
  <b><%= I18n.t('message_calendar.l.time_expected_for_call')%>:</b>
  <%= @message_calendar.time_expected_for_call%>
</p>
<hr />
<p>
  <b><%= I18n.t('message_calendar.l.notes')%>:</b>
  <%= simple_format(@message_calendar.notes)%>
</p>
