<%
# Copyright (C) 2012 Bit4Bit <bit4bit@riseup.net>
#
#
# This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<h1><%= I18n.t('report.export.title')%></h1>
<%= form_tag('/reports/export_with_format.xml') do %>
<%= label_tag(I18n.t('entity.index.title'))%>
<%= select_tag('entity', options_from_collection_for_select(@entities, 'id', 'name'))%>
<br />
<%= label_tag(I18n.t('report.l.start'))%>
<%= select_datetime(Time.now - 30.days, :prefix => 'start')%>
<%= label_tag(I18n.t('report.l.end'))%>
<%= select_datetime(Time.now, :prefix => 'end')%>
<br />
<%= label_tag(I18n.t('report.l.duration_expected'))%>
<%= text_field_tag('duration_expected', 29, :size => 2)%>
<br />
<%= submit_tag(I18n.t('defaults.generate'))%>
<% end %>

