<%= link_to I18n.t('report.export_csv'), reports_new_export_csv_path ,:class => 'button' %>
<!-- <%= link_to I18n.t('report.export.title'), reports_export_path(), :class => 'button' %> -->
<%= stylesheet_link_tag params[:controller]%>
<h1><%= I18n.t('report.index.title')%></h1>
<h3>General</h3>
<div class="report-general">
<table>
  <tr><td cols="2" class="title">Por estado de cuelgue</td></tr>
  <% @report[:general][:by_hangup_enumeration].each do |h,v|%>
  <tr><td><%= h%></td><td><%= v%></td></tr>
  <% end%>
  <tr><td cols="2" class="title">Estadisticos</td></tr>
  <tr><td>Dieron respuesta al IVR</td><td><%= @report[:general][:statistical][:response_ivr]%></td></tr>
  <tr><td>Total llamadas realizadas</td><td><%= @report[:general][:statistical][:calls_completed]%></td></tr>
</table>
<hr/>
<h3>Detallado</h3>

<table>
  <tr>
    <th><%= I18n.t('defaults.entity')%></th>
    <th><%= I18n.t('defaults.campaign')%></th>
    <th><%= I18n.t('defaults.message')%></th>
    <th><%= I18n.t('message.l.call')%></th>
    <th><%= I18n.t('defaults.client')%></th>
    <th><%= I18n.t('report.l.enter')%></th>
    <th><%= I18n.t('report.l.terminate')%></th>
    <th><%= I18n.t('report.l.enter_listen')%></th>
    <th><%= I18n.t('report.l.terminate_listen')%></th>
    <th><%= I18n.t('report.l.bill_duration')%></th>
    <th><%= I18n.t('report.l.status')%></th>
  </tr>
  <% @calls.each do |call| %>
  <% begin %>
  <tr>
    <td><%= call.client.campaign.entity.name%></td>
    <td><%= call.client.campaign.name %></td>
    <% if call.message.nil? %>
    <td><%= I18n.t('defaults.direct_message')%></td> 
    <td></td>
    <% else%>    
    <td><%= call.message.name %></td>
    <td><%= call.message.call %></td>
    <% end %>
    <td><%= call.client.fullname%></td>
    <td><%= call.enter%></td>
    <td><%= call.terminate%></td>
    <td><%= call.enter_listen%></td>
    <td><%= call.terminate_listen%></td>
    <td><%= call.bill_duration%></td>
    <% if call.hangup_status %>
    <td><%= call.hangup_status%></td>
    <% else %>
    <td><%= call.status%></td>
    <% end %>
  </tr>
  <% rescue %>
  <% end %>
  <% end %>
  
</table>

<%= will_paginate @calls%>
