<!DOCTYPE html>
<html>
<head>
  <title><%= t('appname')%></title>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <%= stylesheet_link_tag "blueprint/plugins/link-icons/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/plugins/buttons/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "campaigns", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div id="menu">
      <span id="app"><%= t('appname')%>. <%= t('appdescription')%>
	</span>
      <ul>
	<li><%= link_to I18n.t('menu.monitor'), monitor_index_path%></li>
	<li><%= link_to I18n.t('menu.reports'), monitor_cdr_path%></li>
	<li><%= link_to I18n.t('menu.quit'), destroy_operators_user_session_path, :method => :delete %></li>
      </ul>
      <ul>
	<%= yield :sub_menu %>
      </ul>
    </div>

    <div id="main">
      <%= yield %>
    </div>

  </div>

</body>
</html>
